@model List<Meets.Models.DetailBesaetigungViewModel>

@{
    ViewBag.Title = "DetailEventBestaetigt";
    Layout = "~/Views/Shared/_LayoutGeladneDetail.cshtml";
}
@if (Model == null || Model.Count == 0)
{
    <div @*style="width:800px;height:150px; margin: 20px auto; border:3px solid #0da535;border-radius:10px;padding-top:40px;"*@><h2 style="text-align:center; color:blue;">Keine aktuellen bestätigten Events vorhanden!</h2></div>
}
else
{
  if (ViewBag.noEntries != null)
  {
    <div style="width:600px;height:150px; margin: 20px auto; border:3px solid #0da535;border-radius:10px;padding-top:40px;"><h2 style="text-align:center;">@ViewBag.noEntries</h2></div>
  }
  else
  {
      foreach (var item in Model)
      {
        <div class="backwitheEventsmaller">
            <table>
                <tr>
                    <th>Eventdatum:</th>
                    <td style="padding-left:10px;">@item.Eventdatum.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Titel:</th>
                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.Eventtitel)</td>
                </tr>
                <tr>
                    <th>Bestätigungszeitpunkt:</th>
                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.Bestaetigungszeitpunkt)</td>
                </tr>
                <tr>
                    <th>Eingeleadene E-Mail:</th>
                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.Eingeladen)</td>
                </tr>
                <tr>
                    <th>Angenommen Ja/Nein:</th>
                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.Bestaetigt)</td>
                </tr>
            </table>
        </div>
      }
  }
}



