@model List<Meets.Models.Event>

@{
    ViewBag.Title = "OpenInvite";
    Layout = "~/Views/Shared/_LayoutPageOpenInvite.cshtml";
}

@if (ViewBag.schonvorhanden != null)
{
    <div style="width:200px; height:50px;margin: 20px auto; border:3px solid #0da535;border-radius:10px;padding-top:40px;"><h2 style="text-align:center;">@ViewBag.schonvorhanden</h2></div>

}
@if (Model.Count == 0)
{
    <div style="width:1000px;height:150px; margin: 20px auto; border:3px solid #0da535;border-radius:10px;padding-top:40px;"><h2 style="text-align:center;">Keine öffentlichen Events vorhanden!</h2></div>
}
else
{

    foreach (var item in Model)
    {
        using (Html.BeginForm("OpenInvite", "Events", new {@id = item.id }))
        {
            <div class="backwitheEvent">
                <table>
                    <tr>
                        <td class="hidden">@item.id</td>
                    </tr>
                    <tr>
                        <th>Event Datum:</th>
                        <td style="padding-left:20px;">@item.eventdate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th>Event Titel:</th>
                        <td style="padding-left:20px;">@item.title</td>
                    </tr>
                    <tr>
                        <th>Event Beschreibung:</th>
                        <td style="padding-left:20px;">@item.description</td>
                    </tr>
                    <tr>
                        <th>Event E-Mail:</th>
                        <td style="padding-left:20px;">@item.Member.email</td>
                    </tr>
                </table>
                <div>
                    <input class="btnstyle" type="submit" name="ja" value="Annehmen" />
                    <input class="btnstyle" type="submit" name="nein" value="Ablehnen" />
                </div>
            </div>
        }
        


    }
}

