@model Meets.Models.Event

@{
    ViewBag.Title = "VerteilerSender";
    Layout = "~/Views/Shared/__LayoutValidateGesendet.cshtml";
}

<div class="backwitheEventHoeher">
   
    <table style="margin:10px auto;">
        <tr>
            <th>Titel:</th>
            <td>@Model.title</td>
        </tr>
        <tr>
            <th style="padding-right:20px;">Event Datum:</th>
            <td>@Model.eventdate</td>
        </tr>
        <tr>
            <th>Ersteller:</th>
            <td>@Model.Member.email</td>
        </tr>
        <tr>
            <th>Beschreibung:</th>
            <td>@Model.description</td>
        </tr>
        <tr>
            <th>Standort:</th>
            <td>@Model.location</td>
        </tr>
    </table>    
</div>