@model JSONAutocompleteTest.Models.MemberViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Test mit JSON Autocomplete in Verbindung mit MEET's Datenbank</h2>
    <p class="lead">Tesvariante zur Asynchronen Datenübertragung.<br />E-Mails aus der Tabelle Members</p>
    <table class="table table-hover">
        <tr>
            <th>Email des Benutzers</th>
            <th>Geburtsdatum</th>
        </tr>
        @foreach (JSONAutocompleteTest.Models.MemberViewModel m in ViewBag.memberListe)
        {
            <tr>
                <td>@m.Email</td>
                <td>@m.Geburtsdatum</td>
            </tr>
        }
    </table>
    <br />
        @*<a href="javascript:window.print()">Diese Seite Drucken</a>*@
        <a href="~/Event/Index">Druckanzeige</a>
    <br />  
    <h2>Email hinzufügen:</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <th>Email:</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(t => t.Email, new {@class= "mylabel" })</td>
                <td>@Html.ValidationMessageFor(vm => vm.Email, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <th>Passwort:</th>
            </tr>
            <tr>
                <td>@Html.PasswordFor(p => p.Klartextpasswort, new { @class = "mylabel" })</td>
                <td>@Html.ValidationMessageFor(p => p.Klartextpasswort,"", new { @Class = "text-danger" })</td>
            </tr>
            <tr>
                <th>Passwort wiederholen:</th>
            </tr>
            <tr>
                <td>@Html.PasswordFor(pw => pw.RetypePassword, new { @class = "mylabel" })</td>
                <td>@Html.ValidationMessageFor(pw => pw.RetypePassword, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <th>Geburtsdatum:</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(d => d.Geburtsdatum, new { placeholder = "yyyy/mm/dd"})</td>
                <td>@Html.ValidationMessageFor(d => d.Geburtsdatum, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td style="padding-top:20px;"><input type="submit" /></td>
            </tr>
        </table>
    }

</div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Email").autocomplete({
            source: function(request,response) {
                $.ajax({
                    url: "/Home/AutoCompleteMember",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.email, value: item.email };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
    </script>
}





