@model List<Meets.Models.Event>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />

</head>
<body style="font-family:Corbel;color:#000000;font-weight:500;">
    <div id="container">
        <nav class="navigation">
            <a href="~/Login/Login"><input class="btnstyleHeader" type="button" value="Anmeldung" /></a>
            <a href="~/User/Registrieren"><input class="btnstyleHeader" type="button" value="Registrierung" /></a>
        </nav>
        <div id="content">           
            <div class="backcolor">               
                <h2 class="center" style="font-family:Corbel;">Hallo du bist Gast bei Meets</h2>                      
                <h2 class="center" style="font-family:Corbel;">Offene Veranstaltungen</h2>
            </div>
            <div class="contentScroll">
                @if (Model.Count == 0)
                {
                    <div style="width:1000px;height:150px; margin: 20px auto; border:3px solid #0da535;border-radius:10px;padding-top:40px;"><h2 style="text-align:center;">Keine öffentlichen Events vorhanden!</h2></div>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <div class="backwitheEvent">
                            <table>
                                <tr>
                                    <th>Titel:</th>
                                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.title)</td>
                                </tr>
                                <tr>
                                    <th>Eventdatum:</th>
                                    <td style="padding-left:10px;">@item.eventdate.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <th>Beschreibung:</th>
                                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.description)</td>
                                </tr>
                                <tr>
                                    <th>Für alle Einsehbar</th>
                                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.viewpublic)</td>
                                </tr>
                                <tr>
                                    <th>Standort:</th>
                                    <td style="padding-left:10px;">@Html.DisplayFor(modelItem => item.location)</td>
                                </tr>
                            </table>
                        </div>
                    }
                }
           </div>
        </div>
        <div id="footer"><p style="color:azure;font-weight:bold;">©2016 Josef Seiringer</p></div>        
    </div>
</body>
</html>
