@model Meets.Models.MemberFormModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMeetsEdit.cshtml";
}

<h3>Deine Daten bearbeiten</h3>
<hr />
<p style="font-family:Corbel; font-size:18px;">Nach dem ändern des Passwortes wirst du abgemeldet!</p>

@if (ViewBag.fehlerUpdate != null)
{
    <div>@ViewBag.fehlerUpdate</div>
}

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("EditTestUpdateLinkQ", "User", FormMethod.Post))
{
    <div>
        <table style="margin-top:10px;" cellpadding="10">
            <tr>
                @*Verstektes Id Feld im View*@
                <td>@Html.HiddenFor(modelItem => modelItem.id)</td>
            </tr>
            <tr>
                <th><h4>E-Mail:</h4></th>
                <th><h4>Neues Passwort:</h4></th>
                <th><h4>Passwort wiederholen:</h4></th>
                @*<th><h4>Geburtsdatum:</h4></th>*@
            </tr>
            <tr>
                <td class="mytabeltext">
                    @*@Html.TextBoxFor(modelItem => modelItem.email, htmlAttributes: new { @class = "mylabel" })*@
                    @*@Html.DisplayFor(modelItem => modelItem.email)*@
                    <h3>@Model.email</h3>
                </td>
                <td>
                    @Html.PasswordFor(modelItem => modelItem.Klartextpasswort, htmlAttributes: new { @class = "mylabel" })
                </td>
                @*<td class="mytabeltext">
                    @Html.TextBoxFor(modelItem => modelItem.dateofbirth, htmlAttributes: new { @class = "mylabel" })
                </td>*@
                <td>@Html.PasswordFor(modelItem => modelItem.RetypePasswort, htmlAttributes: new { @class = "mylabel" })</td>
            </tr>
            <tr>
                <td class="text-danger">
                    @if (ViewBag.errorEmail != null)
                    {
                        @ViewBag.errorEmail;
                    }
                </td>

                <td class="text-danger">
                    @if (ViewBag.notPasswd != null)
                    {
                        @ViewBag.notPasswd

                    }
                </td>             
                
                @*<td>@Html.ValidationMessageFor(modelItem => modelItem.dateofbirth)</td>*@
                
            </tr>
            <tr>
                @if (ViewBag.errdaten != null)
                {
                    <td class="text-danger" colspan="3">@ViewBag.errdaten</td>
                }
            </tr>
        </table>
    </div>
    <div style="margin-top:-270px; float:right;">
        <input style="float:right;" class="btnstyle" type="submit" value="Speichern" />
    </div>
}



