@model Meets.Models.ProfileViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMeetsEdit.cshtml";
}

<h3>Deine Daten bearbeiten</h3>
<hr />
<p style="font-family:Corbel; font-size:18px;">Nach dem ändern des Passwortes wirst du abgemeldet!</p>

@if (ViewBag.fehlerUpdate != null)
{
    <div>@ViewBag.fehlerUpdate</div>
}

@using (Html.BeginForm("EditTestUpdateLinkQ", "User", FormMethod.Post))
{
    <div>
        <table style="margin-top:10px;" cellpadding="10">
            <tr>
                <th><h4>E-Mail:</h4></th>
                <th><h4>Neues Passwort:</h4></th>
                <th><h4>Passwort wiederholen:</h4></th>
            </tr>
            <tr>
                <td class="mytabeltext">
                    <h3>@User.Identity.Name</h3>
                </td>
                <td>
                    @Html.PasswordFor(modelItem => modelItem.NewPasswort, htmlAttributes: new { @class = "mylabel" })
                </td>
                <td>@Html.PasswordFor(modelItem => modelItem.Passwortvergleich, htmlAttributes: new { @class = "mylabel" })</td>
            </tr>
            <tr>
                <td class="text-danger">
                    @if (ViewBag.errorEmail != null)
                    {
                        @ViewBag.errorEmail;
                    }
                </td>

                <td class="text-danger">
                    @if (ViewBag.notPasswd != null)
                    {
                        @ViewBag.notPasswd

                    }
                </td>             
                
                @*<td>@Html.ValidationMessageFor(modelItem => modelItem.Passwortvergleich)</td>*@
                @if (ViewBag.equals != null)
                {
                    <td><p class="text-danger">@ViewBag.equals</p></td>
                }

            </tr>
            <tr>
                @if (ViewBag.errdaten != null)
                {
                    <td class="text-danger" colspan="3">@ViewBag.errdaten</td>
                }
            </tr>
        </table>
    </div>
    <div style="margin-top:-200px; float:right;">
        <input style="float:right;" class="btnstyle" type="submit" value="Speichern" />
    </div>
}



