@model Meets.Models.Member

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMeetsEdit.cshtml";
}

<h3>@User.Identity.Name bearbeiten</h3>
<label class="linkAsBtn" style="float:right;margin-top:-45px;">@Html.ActionLink("Zu den Events","Index","Events")</label>
@using (Html.BeginForm())
{
    <div>
        <table style="margin-top:10px;" cellpadding="10">
            <tr>
                @*Verstektes Id Feld im View*@
                <td>@Html.HiddenFor(modelItem => modelItem.id )</td>
                <td>@Html.HiddenFor(modelItem => modelItem.password)</td>
            </tr>
            <tr>
                <th><h4>E-Mail:</h4></th>
            </tr>
            <tr>
                <td class="mytabeltext">
                    @Html.TextBoxFor(modelItem => modelItem.email, htmlAttributes: new { @class = "mylabel" })
                </td>               
                @if (ViewBag.errorEmail != null)
                {
                    <td class="text-danger">@ViewBag.errorEmail</td>
                }                
            </tr>
            <tr>
                <th><h4>Geburtsdatum:</h4></th>
            </tr>
            <tr>
                <td class="mytabeltext">
                    @Html.TextBoxFor(modelItem => modelItem.dateofbirth, htmlAttributes: new { @class = "mylabel" })
                </td>
                @if (ViewBag.errdaten != null)
                {
                    <td class="text-danger">@ViewBag.errdaten</td>
                }

            </tr>                     
        </table>        
        <div style="padding-top:20px;padding-left:10px;"><input style="float:left;" class="btnstyle" type="submit" value="Speichern" /></div>
    </div>
}

