<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

</head>
<body>
    <div id="container">
        <div id="header">
            <img src="~/img/HeaderNewMeetsSchmal.jpg" />
            <div class="oben1">
                @*<input class="btnstyleHeader" type="button" name="anmelden" value="Anmeldung" />*@
                <a href="~/Home/Index"><input class="btnstyleHeader" type="button" value="Home" /></a>
            </div>
        </div>
        <div id="content">
            <br />
            <div class="backwithe">
                <h2 class="center">Hallo du bist zur Zeit Gast bei Meets</h2>
                <p align="center">Hier auf dieser Seite kannst du dich anmelden.</p>
                <br />
            </div>
            <div><h2 class="center">Anmeldung</h2></div>

            <div class="contentLogin">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*Einbinden der Validierung*@
    @Scripts.Render("~/bundles/jqueryval")
    @*Einbinden für Datepicker*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

