<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/toastr.js"></script>
</head>
<body style="font-family:Corbel;color:#000000;font-weight:500;">
    <div id="container">
        <nav class="navigation">
            @*<a href="~/Login/Login"><input class="btnstyleHeader" type="button" value="Anmeldung" /></a>*@
            @*<a href="~/Events/Index"><input class="btnstyleHeader" type="button" value="Events Übersicht" /></a>*@
            <a href="~/Abmelden/Logout"><input class="btnstyleHeader" type="button" value="Abmelden" /></a>
        </nav>
        <div id="content">
            <div class="backcolor">
                <h2 class="center" style="font-family:Corbel;">Du bist jetzt als @User.Identity.Name angemeldet.</h2>
                <h2 class="center" style="font-family:Corbel;">Übersicht deine Veranstalltungen</h2>
            </div>
            <br />
            <div class="contentEvent">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*Einbinden der Validierung*@
    @Scripts.Render("~/bundles/jqueryval")
    @*Einbinden für Datepicker*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

