<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body style="font-family:Corbel;color:#000000;font-weight:500;">
    <div id="container">
        <nav class="navigation">
            @*<a href="~/Login/Login"><input class="btnstyleHeader" type="button" value="Anmeldung" /></a>*@
            <a href="~/Home/Index"><input class="btnstyleHeader" type="button" value="Home" /></a>
            @*<a href="~/User/Registrieren"><input class="btnstyleHeader" type="button" value="Registrierung" /></a>*@
        </nav>
        <div id="content">
            <div class="backcolor">
                <h2 class="center" style="font-family:Corbel;">Hallo du bist zur Zeit als Gast bei Meets</h2>
                <h2 class="center" style="font-family:Corbel;">Registrierung</h2>
            </div>
            <div class="contentReg">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*Einbinden der Validierung*@
    @Scripts.Render("~/bundles/jqueryval")
    @*Einbinden für Datepicker*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

